.Tilt {
  background: rgb(219, 185, 71);
  background: -moz-linear-gradient(
    90deg,
    rgba(219, 185, 71, 1) 24%,
    rgba(79, 175, 130, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(219, 185, 71, 1) 24%,
    rgba(79, 175, 130, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(219, 185, 71, 1) 24%,
    rgba(79, 175, 130, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbb947",endColorstr="#4faf82",GradientType=1);
}
